.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hello {
  color: #61dafb;
  text-align: center;
}

.para{
  text-align:center;
}

.main-nav > ul {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: flex-end;
}

.main-nav ul li {
  list-style-type: none;
  color: #124e5f;
  font-size: 1.25rem;
}

.pic-div {
  text-align: center;
}

.react-logo {
  width: 30%;
}
.button-primary {

  display: block;
  margin: 0 auto;
  padding: 10px;
  color: #eee6e6;
  border: 0;
  background: #2a7077;
  border-radius: 20px;
}

.grand-child {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 32px;
}

.user-input {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.user-input > input {
  width: 60%;
  border: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px;
}